# TheWholeEnchilada package in editable mode
-e .

# Flask related
flask
flask-debugtoolbar
flask-login
flask-wtf
waitress

# MySQL related
mysql-connector-python

# Testing
pytest
pytest-cov
pytest-html