{% extends "dashboard_base.html" %}
{% block title %}Train - {% endblock title %}
{% block viewname %}Train{% endblock viewname %}
{% block subsectiontitle %}My train content{% endblock subsectiontitle %}
{% block subsection %}
    {{ super() }}
    <p> Testing 1,2,3...</p>
{% endblock subsection %}
{% block table %}{% endblock table%}
{% block train_navlink %}
    <a class="nav-link active" aria-current="page" href={{ url_for('main.train') }}>
{% endblock train_navlink %}
{% block dashboard_navlink %}
    <a class="nav-link" href={{ url_for('main.index') }}>
{% endblock dashboard_navlink %}