{% extends "dataset_preview.html" %}
{% block description %}"main.train: Loads Bokeh train visualization."{% endblock description %}
{% block title %}Train - {% endblock title %}
{% block viewname %}Train{% endblock viewname %}
{% block viewheader_buttons %}{% endblock viewheader_buttons %}
{% block datasets_navlink %}
    <a class="nav-link" href={{ url_for('main.datasets') }}>
{% endblock datasets_navlink %}
{% block train_navlink %}
    <a class="nav-link active" aria-current="page" href={{ url_for('main.train') }}>
{% endblock train_navlink %}
{% block dashboard_navlink %}
    <a class="nav-link" href={{ url_for('main.index') }}>
{% endblock dashboard_navlink %}
{% block subsidebar %}{% endblock subsidebar %}