# TheWholeEnchilada package in editable mode
-e .

# Data manipulation and plotting related
bokeh==2.3.3
joblib==1.0.1
pandas==1.3.1

# Flask related
flask==2.0.1
flask-login==0.5.0
flask-wtf==0.15.1
waitress==2.0.0

# MySQL related
mysql-connector-python==8.0.26

# Testing
pytest==6.2.4
pytest-cov==2.12.1
pytest-html==3.1.1